polars
pandas
numpy
matplotlib
seaborn
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
sentence-transformers
faiss-cpu
streamlit
python-dotenv
pytest
ipykernel
jupyter
chromadb
